@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_GamingCenterAppLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The purpose of this project is to exhibit my knowledge of client-side/server-side validation, and basic web security.</p><br />