@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_GamingCenterAppLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>UVU Bowling & Gaming Manager</h4>

<img src="http://s23.postimg.org/ruhcryzpn/jjdopeness.jpg" alt="James LoForti" /> 

<address>
    <strong>Email:</strong> <a href="mailto:10675175@uvlink.uvu.edu">10675175@uvlink.uvu.edu</a>
</address>